<a href="https://colab.research.google.com/github/HigurashiKagome/AI/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_9_29%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

In [ ]:
import pandas as pd

long_df = pd.read_csv(
    'data/long_data.csv', usecols=['date', 'datatype', 'value']
).rename(
    columns={'value': 'temp_C'}
).assign(
    date=lambda x: pd.to_datetime(x.date),
    temp_F=lambda x: (x.temp_C * 9/5) + 32
)
long_df.head() # 기본 5개

  datatype       date  temp_C  temp_F
0     TMAX 2018-10-01    21.1   69.98
1     TMIN 2018-10-01     8.9   48.02
2     TOBS 2018-10-01    13.9   57.02
3     TMAX 2018-10-02    23.9   75.02
4     TMIN 2018-10-02    13.9   57.02

In [ ]:
long_df.set_index('date').head(6).T

date     2018-10-01 2018-10-01 2018-10-01 2018-10-02 2018-10-02 2018-10-02
datatype       TMAX       TMIN       TOBS       TMAX       TMIN       TOBS
temp_C         21.1        8.9       13.9       23.9       13.9       17.2
temp_F        69.98      48.02      57.02      75.02      57.02      62.96

In [ ]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values='temp_C' # index 행 columns 열 # 위에서 섭씨 온도만 가져오겠다.
)
pivoted_df.head()

datatype    TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [ ]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values='temp_F' # index 행 columns 열 # 위에서 화씨 온도만 가져오겠다.
)
pivoted_df.head()

datatype     TMAX   TMIN   TOBS
date
2018-10-01  69.98  48.02  57.02
2018-10-02  75.02  57.02  62.96
2018-10-03  77.00  60.08  60.98
2018-10-04  73.04  53.06  53.06
2018-10-05  73.94  53.06  66.02

In [ ]:
multi_index_df = long_df.set_index(['date', 'datatype'])
multi_index_df.head().index

MultiIndex([('2018-10-01', 'TMAX'),
            ('2018-10-01', 'TMIN'),
            ('2018-10-01', 'TOBS'),
            ('2018-10-02', 'TMAX'),
            ('2018-10-02', 'TMIN')],
           names=['date', 'datatype'])

In [ ]:
multi_index_df.head()

                     temp_C  temp_F
date       datatype
2018-10-01 TMAX        21.1   69.98
           TMIN         8.9   48.02
           TOBS        13.9   57.02
2018-10-02 TMAX        23.9   75.02
           TMIN        13.9   57.02

In [ ]:
unstacked_df = multi_index_df.unstack()
unstacked_df.head() # 행이 복수개인 경우 피벗보단 언스택으로

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

In [ ]:
wide_df = pd.read_csv('data/wide_data.csv')
wide_df.head()

         date  TMAX  TMIN  TOBS
0  2018-10-01  21.1   8.9  13.9
1  2018-10-02  23.9  13.9  17.2
2  2018-10-03  25.0  15.6  16.1
3  2018-10-04  22.8  11.7  11.7
4  2018-10-05  23.3  11.7  18.9

In [ ]:
melted_df = wide_df.melt(        # melt = long 파일이 너무 기니까 잘라씀
    id_vars='date',
    value_vars=['TMAX', 'TMIN', 'TOBS'],
    value_name='temp_C',
    var_name='measurement'
)
melted_df.head()

         date measurement  temp_C
0  2018-10-01        TMAX    21.1
1  2018-10-02        TMAX    23.9
2  2018-10-03        TMAX    25.0
3  2018-10-04        TMAX    22.8
4  2018-10-05        TMAX    23.3

In [ ]:
melted_df.sort_values(by='date')

          date measurement  temp_C
0   2018-10-01        TMAX    21.1
62  2018-10-01        TOBS    13.9
31  2018-10-01        TMIN     8.9
1   2018-10-02        TMAX    23.9
63  2018-10-02        TOBS    17.2
..         ...         ...     ...
29  2018-10-30        TMAX    13.3
91  2018-10-30        TOBS     5.0
61  2018-10-31        TMIN     0.0
30  2018-10-31        TMAX    12.2
92  2018-10-31        TOBS     0.0

[93 rows x 3 columns]

In [ ]:
wide_df.set_index('date', inplace=True)
wide_df.head()

            TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [ ]:
import pandas as pd
pd

In [ ]:
stacked_series = wide_df.stack()
stacked_series.head()

date
2018-10-01  TMAX    21.1
            TMIN     8.9
            TOBS    13.9
2018-10-02  TMAX    23.9
            TMIN    13.9
dtype: float64

In [ ]:
stacked_df = stacked_series.to_frame('values')
stacked_df.head()

                 values
date
2018-10-01 TMAX    21.1
           TMIN     8.9
           TOBS    13.9
2018-10-02 TMAX    23.9
           TMIN    13.9

In [ ]:
df = pd.read_csv('data/dirty_data.csv')

In [ ]:
df.describe() # check 5 head data

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:4009: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF
count,765.000000,577.000000,577.0,765.000000,765.000000,398.000000,11.000000
mean,5.360392,4.202773,NaN,2649.175294,-15.914379,8.632161,16.290909
std,10.002138,25.086077,NaN,2744.156281,24.242849,9.815054,9.489832
min,0.000000,0.000000,-inf,-11.700000,-40.000000,-16.100000,1.800000
25%,0.000000,0.000000,NaN,13.300000,-40.000000,0.150000,8.600000
50%,0.000000,0.000000,NaN,32.800000,-11.100000,8.300000,19.300000
75%,5.800000,0.000000,NaN,5505.000000,6.700000,18.300000,24.900000
max,61.700000,229.000000,inf,5505.000000,23.900000,26.100000,28.700000

In [ ]:
import numpy as np
df[df.inclement_weather == np.nan].shape[0]

0

In [ ]:
df[df.inclement_weather.isna()].shape[0]

357

In [ ]:
df.SNWD.isin([-np.inf, np.inf])

0      True
1      True
2      True
3      True
4      True
       ...
760    True
761    True
762    True
763    True
764    True
Name: SNWD, Length: 765, dtype: bool

In [ ]:
pd.DataFrame({
    'np.inf Snow Depth': df[df.SNWD == np.inf].SNOW.describe(),
    '-np.inf Snow Depth': df[df.SNWD == -np.inf].SNOW.describe()
}).T

,count,mean,std,min,25%,50%,75%,max
np.inf Snow Depth,24.0,101.041667,74.498018,13.0,25.0,120.5,152.0,229.0
-np.inf Snow Depth,553.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [ ]:
def get_inf_count(df):
    """Find the number of inf/-inf values per column in the dataframe"""
    return {
        col: df[df[col].isin([np.inf, -np.inf])].shape[0] for col in df.columns
    }

get_inf_count(df)

{'date': 0,
 'station': 0,
 'PRCP': 0,
 'SNOW': 0,
 'SNWD': 577,
 'TMAX': 0,
 'TMIN': 0,
 'TOBS': 0,
 'WESF': 0,
 'inclement_weather': 0}

In [ ]:
df[df.duplicated()].shape[0]

284

In [ ]:
df
df[df.duplicated(keep='first')]

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
...,...,...,...,...,...,...,...,...,...,...
756,2018-12-28T00:00:00,?,11.4,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN
758,2018-12-29T00:00:00,?,21.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN
761,2018-12-31T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,3.3,-3.3,-2.8,NaN,False
762,2018-12-31T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,3.3,-3.3,-2.8,NaN,False
764,2018-12-31T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN

In [ ]:
df.sort_values('station', ascending=False, inplace=True)
df

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
510,2018-08-31T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,33.3,21.1,21.7,NaN,False
642,2018-11-02T00:00:00,GHCND:USC00280907,1.0,0.0,-inf,21.1,8.9,19.4,NaN,False
538,2018-09-12T00:00:00,GHCND:USC00280907,1.3,0.0,-inf,22.8,15.6,21.1,NaN,False
537,2018-09-12T00:00:00,GHCND:USC00280907,1.3,0.0,-inf,22.8,15.6,21.1,NaN,False
636,2018-10-29T00:00:00,GHCND:USC00280907,3.3,0.0,-inf,10.6,6.7,8.3,NaN,False
...,...,...,...,...,...,...,...,...,...,...
335,2018-06-09T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
334,2018-06-08T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
332,2018-06-08T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
329,2018-06-07T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
764,2018-12-31T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN

In [ ]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [ ]:
import pandas as pd

weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [ ]:
import numpy as np

In [ ]:
snow_data = weather.query('datatype == "SNOW" and value > 0 and station.str.contains("US1NY")', engine ='python')
snow_data.head()

                    date datatype            station attributes  value
114  2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
789  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
794  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
798  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
800  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0

In [ ]:
weather[
    (weather.datatype == 'SNOW') 
    & (weather.value > 0)
    & weather.station.str.contains('US1NY')
]

                      date datatype            station attributes  value
114    2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
789    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
794    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
798    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
800    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0
...                    ...      ...                ...        ...    ...
68631  2018-11-16T00:00:00     SNOW  GHCND:US1NYRL0005       ,,N,  170.0
68637  2018-11-16T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,  191.0
74879  2018-12-14T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    3.0
77120  2018-12-24T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,   18.0
78432  2018-12-30T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    5.0

[173 rows x 5 columns]

In [ ]:
station_info = pd.read_csv('data/weather_stations.csv')
station_info.head()

,id,name,latitude,longitude,elevation
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
1,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
3,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
4,GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6

In [ ]:
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [ ]:
station_info.id.describe()

count                   279
unique                  279
top       GHCND:US1CTFR0022
freq                      1
Name: id, dtype: object

In [ ]:
inner_join = weather.merge(station_info, left_on='station', right_on='id')
inner_join.sample(5, random_state=0)

,date,datatype,station,attributes,value,id,name,latitude,longitude,elevation
10739,2018-08-07T00:00:00,SNOW,GHCND:US1NJMN0069,",,N,",0.0,GHCND:US1NJMN0069,"LONG BRANCH 1.7 SSW, NJ US",40.275368,-74.006027,9.4
45188,2018-12-21T00:00:00,TMAX,GHCND:USW00014732,",,W,2400",16.7,GHCND:USW00014732,"LAGUARDIA AIRPORT, NY US",40.779440,-73.880350,3.4
59823,2018-01-15T00:00:00,WDF5,GHCND:USW00094741,",,W,",40.0,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",40.850000,-74.061390,2.7
10852,2018-10-31T00:00:00,PRCP,GHCND:US1NJMN0069,"T,,N,",0.0,GHCND:US1NJMN0069,"LONG BRANCH 1.7 SSW, NJ US",40.275368,-74.006027,9.4
46755,2018-05-05T00:00:00,SNOW,GHCND:USW00014734,",,W,",0.0,GHCND:USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",40.682500,-74.169400,2.1

In [ ]:
import sqlite3

with sqlite3.connect('data/weather.db') as connection:
    inner_join_from_db = pd.read_sql(
        'SELECT * FROM weather JOIN stations ON weather.station == stations.id', 
        connection
    )

inner_join_from_db.shape == inner_join.shape

True

In [ ]:
weather.describe(include='object') # 범주형의 빈도수 확인

                       date datatype            station attributes
count                 78780    78780              78780      78780
unique                  365       27                110         26
top     2018-03-22T00:00:00     PRCP  GHCND:USW00094789       ,,N,
freq                    296    27228               4270      34153

In [ ]:
weather.describe(include='all')

,date,datatype,station,attributes,value
count,78780,78780,78780,78780,78780.000000
unique,365,27,110,26,NaN
top,2018-03-22T00:00:00,PRCP,GHCND:USW00094789,",,N,",NaN
freq,296,27228,4270,34153,NaN
mean,NaN,NaN,NaN,NaN,44.951456
std,NaN,NaN,NaN,NaN,192.835503
min,NaN,NaN,NaN,NaN,-72.800000
25%,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,1.000000
75%,NaN,NaN,NaN,NaN,12.800000
max,NaN,NaN,NaN,NaN,2359.000000

In [ ]:
weather.info

<bound method DataFrame.info of                       date datatype            station attributes  value
0      2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1      2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2      2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3      2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4      2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
...                    ...      ...                ...        ...    ...
78775  2018-12-31T00:00:00     WDF5  GHCND:USW00094789       ,,W,  130.0
78776  2018-12-31T00:00:00     WSF2  GHCND:USW00094789       ,,W,    9.8
78777  2018-12-31T00:00:00     WSF5  GHCND:USW00094789       ,,W,   12.5
78778  2018-12-31T00:00:00     WT01  GHCND:USW00094789       ,,W,    1.0
78779  2018-12-31T00:00:00     WT02  GHCND:USW00094789       ,,W,    1.0

[78780 rows x 5 columns]>

In [ ]:
dirty_data = pd.read_csv(
    'data/dirty_data.csv', index_col='date'
).drop_duplicates().drop(columns='SNWD')
dirty_data.head()

,station,PRCP,SNOW,TMAX,TMIN,TOBS,WESF,inclement_weather
date,,,,,,,,
2018-01-01T00:00:00,?,0.0,0.0,5505.0,-40.0,NaN,NaN,NaN
2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-8.3,-16.1,-12.2,NaN,False
2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-4.4,-13.9,-13.3,NaN,False
2018-01-04T00:00:00,?,20.6,229.0,5505.0,-40.0,NaN,19.3,True
2018-01-05T00:00:00,?,0.3,NaN,5505.0,-40.0,NaN,NaN,NaN

In [ ]:
valid_station = dirty_data.query('station != "?"').drop(columns=['WESF', 'station'])
station_with_wesf = dirty_data.query('station == "?"').drop(columns=['station', 'TOBS', 'TMIN', 'TMAX'])

In [ ]:
df

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
510,2018-08-31T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,33.3,21.1,21.7,NaN,False
642,2018-11-02T00:00:00,GHCND:USC00280907,1.0,0.0,-inf,21.1,8.9,19.4,NaN,False
538,2018-09-12T00:00:00,GHCND:USC00280907,1.3,0.0,-inf,22.8,15.6,21.1,NaN,False
537,2018-09-12T00:00:00,GHCND:USC00280907,1.3,0.0,-inf,22.8,15.6,21.1,NaN,False
636,2018-10-29T00:00:00,GHCND:USC00280907,3.3,0.0,-inf,10.6,6.7,8.3,NaN,False
...,...,...,...,...,...,...,...,...,...,...
335,2018-06-09T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
334,2018-06-08T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
332,2018-06-08T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
329,2018-06-07T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
764,2018-12-31T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN

AttributeError: ignored